html {
	min-height: 100%;
	position: relative;
}

body{
	margin: 0 auto;
	background-image: url("../images/Ramayana-bg3.jpg");
	background-size:  cover;  
	background-repeat: no-repeat;
	color: #FFA500;
	font-size: 25px;
	font-family: 'Joti One','Caesar Dressing', 'Diplomata', 'Ewert',  cursive;
}

.container {
	min-height: 100%;
}

#header{
	font-size: 30px;
}

.area1 .col-md-3,
.area2 .col-md-4
/*.area4 .col-md-4
*/{
	/*border: 1px solid #ffffff;*/
	height: 200px;
}

.area3 .col-md-12{
	height: 160px;
}

div img{
	width: 200px;
	height: 150px;
    margin: 0 auto;
}

figure{
	/*border: 1px solid red;*/
	 margin: 0 auto;
	 width: 210px;
}
.charImage figcaption{
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	width: 200px;
	margin: 0 auto;
	border: 1px solid #000000;
}

#attackBtn{
	 /*margin: 0 auto;*/
	 margin: 50px 0px 0px 0px;
	 color: #000000;
	 font-weight: bold;
	 font-size: 25px;
	 background-color: 	#D4AF37;
	 padding: 20px 40px;
}

#attackDiv{
	 /*margin: 0 auto;*/
	 text-align: center;
}

#attackStatus{
	padding-top: 50px;
	font-size: 30px;
}

#colHeader{
	text-align: center;
	font-weight: bold;
	/*font-size: 40px;*/
}

.thumbnail {
	margin-bottom: 0px;
}

.marginAbove{
	margin-top: 10px;
}

#resetBtn{
	padding: 20px 30px;
	color: #ffffff;
	background-color: #000000;
}

#instructions{
	font-size: 14px;
	background-color: #000000;
	color: #ffffff;
}

#battleTxt {

    color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: battleText;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes battleText {
    from {color: red;}
    to {color: yellow;}
}

/* Standard syntax */
@keyframes battleText {
    0%   {color: red;}
    10%  {color: yellow;}
    20%  {color: green;}
    30%  {color: aqua;}
    40%  {color: blue;}
    50%  {color: white;}
    60%  {color: purple;}
    70%  {color: fuchsia;}
    80%  {color: maroon;}
    90%  {color: grey;}
    100% {color: black;}
}