html {
	min-height: 100%;
	position: relative;
}

body{
	margin: 0 auto;
	background-image: url("../images/Ramayana-bg.jpg");
	background-size:  cover;  
	background-repeat: no-repeat;
	color: #FFA500;
	font-size: 25px;
	font-family: 'Joti One','Caesar Dressing', 'Diplomata', 'Ewert',  cursive;
}

.container {
	min-height: 100%;
}

#header{
	font-size: 30px;
}

.area1 .col-md-3,
.area2 .col-md-4,
.area3 .col-md-12
/*.area4 .col-md-4
*/{
	/*border: 1px solid #ffffff;*/
	height: 200px;
}

div img{
	width: 200px;
	height: 150px;
    margin: 0 auto;
}

figure{
	/*border: 1px solid red;*/
	 margin: 0 auto;
	 width: 210px;
}
.charImage figcaption{
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	width: 200px;
	margin: 0 auto;
	border: 1px solid #000000;
}

#attackBtn{
	 /*margin: 0 auto;*/
	 margin: 50px 0px 0px 0px;
	 color: #000000;
	 font-weight: bold;
	 font-size: 25px;
	 background-color: 	#D4AF37;
	 padding: 20px 40px;
}

#attackDiv{
	 /*margin: 0 auto;*/
	 text-align: center;
}

#attackStatus{
	padding-top: 50px;
}

#colHeader{
	text-align: center;
	font-weight: bold;
	/*font-size: 40px;*/
}

.thumbnail {
	margin-bottom: 0px;
}

.marginAbove{
	margin-top: 10px;
}

#resetBtn{
	padding: 10px 20px;
}